PyMuPDF
pytesseract
Pillow
pdf2image
langchain
langchain-community
langchain-core
ollama
faiss-cpu
streamlit
langchain_groq
torch==2.1.0
sentence-transformers==2.2.2
json5
python-docx
fpdf
altair
requests
streamlit-extras
